@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;1,300&display=swap");

* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Merriweather Sans", sans-serif;
}
p {
  text-align: justify;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.container .title {
  text-align: center;
  margin: 10px;
  color: yellowgreen;
}
.subcontainer {
  position: relative;
}
.tag {
  align-items: center;
  text-align: center;
  margin: 12px;
}
